html, body {
    height: 114%;
    width: 100%;
    margin: 0;
    font-family: 'Handlee', sans-serif;
    font-size: 20px;
}

body {
    position: relative;
}

img{
	width:40px;
}

.navbar ul {
    position: fixed;
    width: 100%;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 8px 6px -10px gray;
    -moz-box-shadow: 0 8px 6px -10px gray;
         box-shadow: 0 8px 6px -10px gray;
}

.navbar {
    z-index: 10;
    position: relative;
    height: 30px;
}
.navbar li {
    float: left;
    margin-left: 30px;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    color: yellowgreen;
    transition: .5s ease;
}

.searchbar {
    text-align: right;
    width: 80%;
    margin-top: 5px;
    padding: 6px 10px;
}

.searchbar input[type=text]{
    padding: 6px;
    font-size: 10px;
}


.map_container{
    text-align:center;
    padding-top: 20px;
}

.blmap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
table{
	width:70%;
	background:#333333;
	color:white;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
th{
	text-align: left;
	padding:10px;
}

.image_container{
	margin-left: auto;
    margin-right: auto;
    width:70%;
}

.image_silder {
	width:400px;
	height:300px;
	overflow:hidden; 
	position:relative; 
    float:left;
    padding: 10px;
}

.image_silder img{ 
	width:70%;
	position:absolute;
	animation:image_silder 20s infinite;
	opacity:0;
	width: 400px;
	height: 300px;
}

@keyframes image_silder {25%{opacity:1;} 40%{opacity:0;}} 
.image_silder img:nth-child(5){animation-delay:20s;}
.image_silder img:nth-child(4){animation-delay:0s;}
.image_silder img:nth-child(3){animation-delay:5s;}
.image_silder img:nth-child(2){animation-delay:10s;}
.image_silder img:nth-child(1){animation-delay:15s;}

.footer {
    background: #333333;
    margin-top: 150px;
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;
 }

 #icon-list {
    margin: 0 auto;
    display: inline-flex;
}

#icon-list li {
    margin-top: 10px;
    list-style: none;
}

#icon-list li a {
    display: inline-block;
    width: 28px;
    height: 30px;
    background: #333333;
    font-size: 20px;
    border-radius: 50%;
    margin: 0px 5px;
    color: white;
    transition: .5s ease-in;
}

.beltlinelogo {
    width: 400px;
    height: 100px;
    padding: 20px;    
}

.freedomlogo {
    width:300px;
    height: 80px;
    padding: 20px;
}



	
	
	
	
	
	
	